{% extends 'base.html' %}

{% block body %}


         <div class="container mt-7 d-flex justify-content">
            <div class="card p-5">
                <div class="d-flex ">
                   <img style="width: 200px; height: auto; border-radius: 10px; " src="{{ url_for('static', filename='eu.jpg') }}">
                   <div class="ml-3 w-100">
                   <h1 class="font-size:20px; align-baseline m-3">Edson Ferreira dos Santos</h1>
                   <div class="p-2 mt-2 bg-primary d-flex justify-content-between rounded text-white stats">
                </div>
            </div>
         </div>

         <div class="container py-5 pt-1">
            <div class="card mx-auto " style="max-width: 800px;">
              <h1>Contato</h1>
              <div class="contact p-3 ">
                📍 Rua Mossoró 111 - Santa Inês, Bariri-SP – 17257-084<br>
                📞 (14) 98124-1552<br>
                ✉️ es5490810@gmail.com<br>
                📅 20 anos
              </div>

              <div class="mb-4 p-3">
                <h2>Perfil</h2>
                <p>
                  Olá, me chamo Edson nascido em 19/05/2005, Ensino médio completo.
                  Quero me desenvolver mais e mostra como posso contribuir para a empresa de forma produtiva e eficiente.
                </p>
              </div>

              <div class="mb-4 p-6">
                <h2 >Experiência Profissional</h2>
                <p><span class="highlight">Repositor</span> – Mercearia Pegorin – Bariri/SP<br>
                Junho 2023 – Janeiro 2025</p>
                <p>
                  Atuei como repositor de produtos no Super Mercado Pegorin que está localizada na Vila Americana Av. Tenente Manoel Olegário onde me responsabilizei pelos produtos, limpeza, organização, trabalho em equipe
                </p>
              </div>

              <div class="mb-4 p-3">
                <h2>Formação</h2>
                <p>
                  <span class="highlight">Licenciatura em Letras – Português e Inglês(Jan 2024 – Jan 2028)</span><br>
                  Na faculdade Anhanguera 100% EAD, faço uma formação focada principalmente no inglês para aumentar ainda mais minhas chances para o mercado de trabalho, gosto de desafios.
                </p>
              </div>

              <div class="mb-4">
                <h2>Cursos</h2>
                <ul>
                  <li>Informática – Microlins Bariri</li>
                  <li>Excel, Word e PowerPoint</li>
                  <li>
                    <a href="https://portalhashtag.com/certificado-hashtag/1737165234936x396345714299971600?data-inicio=Sim">Python Impressionador</a>
                  </li>
                  <li>
                    <a href="https://portalhashtag.com/certificado-hashtag/1720220359714x710688058371997700?data-inicio=N%C3%A3o">Gestão de Tempo</a>
                  </li>
                  <li>
                    <a href="https://portalhashtag.com/certificado-hashtag/1719022952734x606655897535440800?data-inicio=N%C3%A3o">Segredos do PC</a>
                  </li>
                  <li>
                    <a href="https://portalhashtag.com/certificado-hashtag/1729291741662x550993098399547400?data-inicio=N%C3%A3o">Liderança</a>
                  </li>
                  <li>
                    <a href="https://portalhashtag.com/certificado-hashtag/1745979921799x438280396276722750?data-inicio=N%C3%A3o">Power Apps</a>
                  </li>
                  <li>
                    <a href="https://portalhashtag.com/certificado-hashtag/1751140134711x819898302171503000?data-inicio=N%C3%A3o">Figma</a>
                  </li>
                </ul>
              </div>

              <div class="mb-4">
                <h2>Competências</h2>
                <ul>
                  <li>Organização</li>
                  <li>Flexibilidade</li>
                  <li>Responsabilidade</li>
                  <li>Trabalho em equipe</li>
                  <li>Atenção a detalhes</li>
                  <li>Alta motivação</li>
                </ul>
              </div>

              <div class="mb-2">
                <h2>Hobbies</h2>
                <p>
                  Meu hobby e sempre está estudando para me desenvolver cada vez mais, com o objetivo de me torna um profissional capacitado, sempre em aprendizado contínuo para me destacar e conseguir melhor desempenho,
                  Também gosto muito de leitura no meu tempo livre.
                </p>
              </div>
            </div>
          </div>




{% endblock %}