{% extends 'base.html' %}

{% block body %}


         <div class="container mt-7 d-flex justify-content">
            <div class="card p-5">
                <div class="d-flex ">
                   <img style="width: 200px; height: auto; border-radius: 10px; " src="{{ url_for('static', filename='eu.jpg') }}">
                   <div class="ml-3 w-100">
                   <h1 class="font-size:20px; align-baseline m-3">Edson Ferreira dos Santos</h1>
                   <div class="p-2 mt-2 bg-primary d-flex justify-content-between rounded text-white stats">
                </div>
            </div>
         </div>

         <div class="container py-5 pt-1">
            <div class="card mx-auto " style="max-width: 800px;">
              <h1>Contato</h1>
              <div class="contact p-3 ">
                📍 Bariri-SP – 17257-084
                <br>
                ✉️ es5490810@gmail.com<br>
                📅 20 anos
              </div>

              <div class="mb-4 p-3">
                <h2>Perfil</h2>
                <p>
                         
                  Olá, sou o Edson tenho 20 anos, Ensino médio completo.
                  Quero me desenvolver cada vez mais na área de tecnologias e alcançar meus objetivos contribuindo de forma produtiva e eficiente.
                         
                </p>
              
              </div>
                <div class="mb-4 p-3">
                <h2>Formação</h2>
                <p>
                         
                  <span class="highlight"></span><br>
                  Na instituição de ensino Anhanguera 100% EAD, faço uma formação focada principalmente no inglês para aumentar ainda mais minhas chances para o mercado de trabalho, gosto de desafios.
                
                </p>
              </div>

              <div class="mb-4">
                <h2>Cursos</h2>
                <ul>
                         
                  <li>Excel, Word e PowerPoint</li>
                  <li>
                    <a href="https://portalhashtag.com/certificado-hashtag/1737165234936x396345714299971600?data-inicio=Sim" style="color:red;" >Python Impressionador</a>
                  </li>
                  <li>
                    <a href="https://portalhashtag.com/certificado-hashtag/1720220359714x710688058371997700?data-inicio=N%C3%A3o" style="color:red;" >Gestão de Tempo</a>
                  </li>
                  <li>
                    <a href="https://portalhashtag.com/certificado-hashtag/1719022952734x606655897535440800?data-inicio=N%C3%A3o" style="color:red;" >Segredos do PC</a>
                  </li>
                  <li>
                    <a href="https://portalhashtag.com/certificado-hashtag/1729291741662x550993098399547400?data-inicio=N%C3%A3o" style="color:red;" >Liderança</a>
                  </li>
                  <li>
                    <a href="https://portalhashtag.com/certificado-hashtag/1745979921799x438280396276722750?data-inicio=N%C3%A3o" style="color:red;" >Power Apps</a>
                  </li>
                  <li>
                    <a href="https://portalhashtag.com/certificado-hashtag/1751140134711x819898302171503000?data-inicio=N%C3%A3o" style="color:red;" >Figma</a>
                  </li>
                  <li>Informática – Microlins Bariri</li>
                </ul>
              </div>
            </div>
          </div>




{% endblock %}




